![Logo ITESO](./Data/Imagenes/logo.png)
# Examen Final
### Materia: Proyecto de Ciencia de Datos
#### José Manuel Haces López - 734759 - Ing. Y Ciencia de Datos - ITESO
_______

#### Descripción de la Base de Datos
<p>En escuelas de E.U.A los maestros desarrollan proyectos para mejorar las condiciones de los estudiantes, resolver problemáticas como el bullying, mejorar el prendizaje, etc. El dataset <b>Projects_cleansed.zip</b> esta formado por las siguientes columnas:<br>
</p>

<b>Project Title</b> - Nombre del Proyecto<br>
<b>Project Short Description </b> - Descripción corta (198 palabras aprox.) y el final de la descripción esta indicada por "..."<br>
<b>Project Subject Category Tree</b> - es una taxonomía que indica el área al que pertenece el proyecto<br>
    <b>Project Cost</b> - es un campo numérico que indica la cantidad que se busca fondear<br>
    <b>Project Current Status</b> - Si el proyecto fué fondedado o no<br>

_______
#### Instrucciones:
1. Análisis Exploratorio de Datos.
2. Ingeniería de Características - Data Wrangling
3. Entrenamiento, validación, evaluación y selección del modelo
4. Micro-Servicio (API) para servir el modelo
5. Creación de imagen para dicha API. Explicar el procedimiento utilizado para crear la imagen y correr el contenedor. (Adjunte imagenes como prueba del funcionamiento del contenedor de la API)

In [1]:
# Librerías
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## 0. Carga de Datos

In [2]:
# Cargando el Archivo CSV
df = pd.read_csv(r'./Data/Projects_cleansed.csv')
df.head()

,Project Title,Project Short Description,Project Subject Category Tree,Project Cost,Project Current Status
0,Stand Up to Bullying: Together We Can!,Did you know that 1-7 students in grades K-12 ...,Applied Learning,361.80,Fully Funded
1,Learning in Color!,"Help us have a fun, interactive listening cent...","Applied Learning, Literacy & Language",512.85,Expired
2,Help Second Grade ESL Students Develop Languag...,Visiting or moving to a new place can be very ...,Literacy & Language,435.92,Fully Funded
3,Help Bilingual Students Strengthen Reading Com...,Students at our school are still working hard ...,Literacy & Language,161.26,Fully Funded
4,Help Us Make Each Minute Count!,"""Idle hands"" were something that Issac Watts s...",Special Needs,264.19,Fully Funded

## 1. Análisis Exploratorio

In [3]:
# Imprimiendo las dimensiones de nuestra matriz
print(f'Contamos con: \n- {df.shape[0]} filas. \n- {df.shape[1]} columnas/variables.')

Contamos con:
- 1109981 filas.
- 5 columnas/variables.

- De las cuales 4 son variables Independientes:
    - Project Title
    - Project Short Description
    - Project Subject Category Tree
    - Project Cost

- Nuestra variable dependiente es:
    - Project Current Status

In [4]:
# Tipos de datos que tenemos
df.dtypes

Project Title                     object
Project Short Description         object
Project Subject Category Tree     object
Project Cost                     float64
Project Current Status            object
dtype: object

Tenemos:
- 3 variables independientes que son cadenas de texto.
- 1 variable independiente que es flotante (decimal).
- 1 Variable dependiente/respuesta que es una cadena de texto.

In [8]:
# Estadísticos de la Variable de numérica
df.describe()

       Project Cost
count  1.109981e+06
mean   7.415194e+02
std    1.083264e+03
min    3.529000e+01
25%    3.351200e+02
50%    5.153500e+02
75%    8.675100e+02
max    2.557377e+05

## 2. Ingeniería de Características / Data Wrangling